<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CSS Animation - Buttons</title>
    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body>
    <header>
      <h1>Buttons</h1>
    </header>
    <hr />
    <main>
      <section><button class="button button_1">Visit Shop</button></section>
      <section><button class="button button_2">Visit Shop</button></section>
      <section><button class="button button_3">Visit Shop</button></section>
    </div>
  </body>
</html>
