<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CSS Animation - Keyframe</title>
    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body>
    <header>
      <h1>Robot</h1>
    </header>
    <hr />
    <main>
      <div class="keyframe-example">
        <div><p>Hello there</p></div>
      </div>
      <div class="keyframe-example-2">
        <div><p>Hello there</p></div>
      </div>
    </main>
  </body>
</html>
