<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CSS Animation - Menu Dropdown</title>
    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body>
    <header class="dropdown-header">
      <h1>Menu Dropdown</h1>
    </header>
    <main>
      <div class="dropdown">
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li>
            <a href="#">Products ▾</a>
            <ul class="dropdown">
              <li><a href="#">Laptops</a></li>
              <li><a href="#">Monitors</a></li>
              <li><a href="#">Printers</a></li>
            </ul>
          </li>
          <li><a href="#">Contact</a></li>
        </ul>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat autem
          harum molestiae voluptate voluptates consectetur recusandae similique
          porro blanditiis inventore fuga commodi ullam laborum quos doloribus,
          laboriosam sit cumque ipsa soluta natus. Obcaecati nulla incidunt
          fugiat necessitatibus porro deserunt. Doloribus distinctio, voluptatum
          sunt possimus perspiciatis impedit nostrum explicabo sed eos.
        </p>
      </div>
    </main>
  </body>
</html>
