.dropdown {
  p {
    margin-top: -100px;
  }

  ul {
    padding: 0;
    list-style: none;
    overflow: hidden;
    padding-bottom: 120px;

    li {
      display: inline-block;
      position: relative;
      line-height: 21px;
      text-align: left;
      z-index: 1;

      a {
        display: block;
        padding: 8px 25px;
        background: #f2f2f2;
        color: #333;
        text-decoration: none;

        &:hover {
          color: #fff;
          background: #939393;
        }
      }

      &:hover ul.dropdown {
        top: 36px;
        transition: top 0.2s ease-out;
      }

      ul.dropdown {
        min-width: 100%;
        position: absolute;
        z-index: -1;
        left: 0;
        top: -120px;
        transition: top 0.2s ease-out 0.5s;

        li {
          display: block;
        }
      }
    }
  }
}
